#game-wrap {
    width: 1500px;
    height: 1000px;
}
#platform {
    display: flex;
}
#character-one {
    position: relative;
    top: 200px;
    left: 200px;
    height: 160px;
    width: 200px;
}
#character-image {
    width: 200px;
}
#player-stats{
    position: relative;
    top: -50%;
    width: 100%;
    height: 25px;
    background-color: blue;
    opacity: .5;
}
#player-hp {
    text-align: center;
    background-color: green;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#player-mp {
    text-align: center;
    background-color: yellow;
    width: 100%;
    height: 50%;
    margin: 0px;
}
#enemy {
    position: relative;
    left: 600px;
    top: 200px;
    height: 160px;
    width: 200px;
}
#enemy-image {
    width: 200px;
}
#enemy-stats{
    position: relative;
    top: -50%;
    width: 100%;
    height: 25px;
    background-color: blue;
    opacity: .5;
}
#enemy-hp {
    text-align: center;
    background-color: green;
    width: 100%;
    height: 100%;
    margin: 0px;
}
#enemy-mp {
    text-align: center;
    background-color: yellow;
    width: 100%;
    height: 50%;
    margin: 0px;
}